<!doctype html>
<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta content="telephone=no" name="format-detection">
        <link rel='stylesheet' href='/css/mover.css' type='text/css' media='screen, projection'>
        <title>{{app_name}}</title>
    </head>
    <body>
        <div id="header"></div>
        <div id="content">
            {{&body}}
        </div>
        {{#templates}}
        <script id="tmpl_{{id}}" type="text/x-mustache">
            {{{value}}}
        </script>
        {{/templates}}
    </body>
</html>