<div class="panel">
    <div class="message">Loading Mover</div>
</div>
<p class="debug">position: 0,0</p>
<pre id="dump">
</pre>
{{#templates}}
<script id="tmpl_{{id}}" type="text/x-mustache">
    {{{value}}}
</script>
{{/templates}}

{{#javascripts}}
<script src="{{.}}.js"></script>
{{/javascripts}}

<script type="text/javascript">
$(function(){
    App = new mover.App( {{{app_options}}} );
});
</script>