<div class="panel">
    <div class="message">Loading Mover</div>
</div>

<div class="debug">
    <p class="debug_pos">position: 0,0</p>
    <p id="arrow_debug">position: 0,0</p>
    
    <ul id="log">
    </ul>
    <textarea id="dump" readonly="readonly"></textarea>
    <img id="img_arrow" src="img/arrow.png" style="" />
</div>


{{#javascripts}}
<script src="{{.}}.js"></script>
{{/javascripts}}

<script type="text/javascript">
$(function(){
    App = new mover.App( {{{app_options}}} );
});
</script>